<div class="example-card center">
  <mat-card-title>DATOS DEL SERVICIO</mat-card-title>
  <mat-divider inset></mat-divider>
  <br>
  <mat-card-content>
    <div class="cabecera">
      <div class="izquierda center" >
        <h4><strong>Datos Cliente</strong></h4>
        <span>Cedula: {{cliente.cedula}}</span><br>
        <span>Nombre: {{cliente.nombre}}</span>
        <br><br>
        <h4><strong>Horarios</strong></h4>
        <span>Fecha Inicio: {{servicio.fecha_inicion | date: 'dd/MM/yyyy'}}</span><br>
        <span>Fecha Fin: {{servicio.fecha_fin | date: 'dd/MM/yyyy'}}</span><br>
        <span>Hora: {{servicio.hora}}</span>
        <br><br>
      </div>
      <div class="derecha center">
        <mat-card-content *ngIf="allinfo">
          <h4><strong>Datos Vehiculio - GPS</strong></h4>
          <!---->
          <table class="center tablec">
            <thead>
            <th>ID</th>
            <th>Placa</th>
            <th>Vehiculo</th>
            <th>Imei</th>
            <th>Modelo</th>
            <th>Cambio GPS</th>
            <th>Cambio Vehiculo</th>
            </thead>
            <tbody *ngFor="let det of listadetalle">
            <td class="tdv">{{det.id_documentodescripcion}}</td>
            <td class="tdv">{{det.vehiculo.placa}}</td>
            <td class="tdv">{{det.vehiculo.vehiculo}}</td>
            <td class="tdv">{{det.gps.imei_gps}}</td>
            <td class="tdv">{{det.gps.modelo.nombre}}</td>
            <td class="tdv"><button><mat-icon class="btnEdi" (click)="edithtmlgps(det.id_documentodescripcion)">edit</mat-icon></button></td>
            <td class="tdv"><button><mat-icon class="btnEdi" (click)="edithtmlvehiculo(det.id_documentodescripcion)">edit</mat-icon></button></td>
            </tbody>
          </table>
        </mat-card-content>

        <br><br>
        <mat-card-content *ngIf="allinfo">
          <h4><strong>Historial</strong></h4>
          <!---->
          <table class="center tablec">
            <thead>
            <th>ID</th>
            <th>Placa</th>
            <th>Vehiculo</th>
            <th>Imei</th>
            <th>Modelo</th>
            <th>Cambio</th>
            <th>Observaciones</th>
            </thead>
            <tbody *ngFor="let h of listadetallehistoriaGet">
            <td class="tdv">{{h.documentodescripcion.id_documentodescripcion}}</td>
            <td class="tdv">{{h.documentodescripcion.vehiculo.placa}}</td>
            <td class="tdv">{{h.documentodescripcion.vehiculo.vehiculo}}</td>
            <td class="tdv">{{h.documentodescripcion.gps.imei_gps}}</td>
            <td class="tdv">{{h.documentodescripcion.gps.modelo.nombre}}</td>
            <td class="tdv">{{h.nombre}}</td>
            <td class="tdv">{{h.observaciones}}</td>
            </tbody>
          </table>
        </mat-card-content>
        <mat-card-content *ngIf="editv">
          <mat-card-title>Cambio de Vehiculo</mat-card-title>
          <br>
          <span><strong>Datos del GPS</strong></span>
          <br>
          <span>ID: {{detalleid.id_documentodescripcion}}</span><br>
          <span>Imei: {{detalleid.gps.imei_gps}}</span><br>
          <span>Modelo: {{detalleid.gps.modelo.nombre}}</span><br><br>

          <div *ngIf="vernuvehiculo">
            <span><strong>Vehiculo a Asignar</strong> </span><br>
            <div *ngFor="let nv of listadetallen">
              <span>Placa: {{nv.vehiculo.placa}}</span><br>
              <span>Vehiculo: {{nv.vehiculo.vehiculo}}</span><br><br>
            </div>
            <mat-form-field appearance="outline">
              <mat-label>Observación</mat-label>
              <input matInput  name="observacion" [(ngModel)]="historial.observaciones" required/>
            </mat-form-field>
          </div>

          <button class="btnEli" (click)="cancelarnvehiculo()">Cancelar</button>
          <span *ngIf="!vernuvehiculo">
            <button class="btnEdi" (click)="abrirdialogoEditServiciovehiculo(detalleid.vehiculo.cliente.id_persona,detalleid)">Seleccionar vehiculo</button>
          </span>
          <span *ngIf="vernuvehiculo">
            <button class="btnEdi" (click)="guardarcambiosVehiculo(detalleid.id_documentodescripcion)">Guardar Cambios</button>
          </span>
          <br><br>
        </mat-card-content>
        <mat-card-content *ngIf="editgps">
          <mat-card-title>Cambio de Dispositivo GPS</mat-card-title>
          <br>
          <span><strong>Datos del Vehiculo</strong></span><br>
          <span>ID: {{detalleid.id_documentodescripcion}}</span><br>
          <span>Placa: {{detalleid.vehiculo.placa}}</span><br>
          <span>Vehiculo: {{detalleid.vehiculo.vehiculo}}</span><br>
          <div *ngIf="vernuvegps">
            <span><strong>GPS a Asignar</strong> </span><br>
            <div *ngFor="let nv of listadetallen">
              <span>Imei: {{nv.gps.imei}}</span><br>
              <span>Modelo: {{nv.gps.modelo.nombre}}</span><br><br>
            </div>
            <mat-form-field appearance="outline">
              <mat-label>Observación</mat-label>
              <input matInput  name="observacion" [(ngModel)]="historial.observaciones" required/>
            </mat-form-field>
          </div>

          <button class="btnEli" (click)="cancelarnvehiculo()">Cancelar</button>
          <span *ngIf="!vernuvegps">
            <button class="btnEdi" (click)="abrirdialogoEditServiciogps(detalleid.id_documentodescripcion)">Buscar GPS</button>
          </span>
          <span *ngIf="vernuvegps">
            <button class="btnEdi" (click)="guardarcambiosVehiculo(detalleid.id_documentodescripcion)">Guardar Cambios</button>
          </span>
          <br><br>
        </mat-card-content>
        <br><br>
      </div>
    </div>
  </mat-card-content>

</div>
<mat-card-footer class="footer" *ngIf="false">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</mat-card-footer>

<ng-template #dialogEditServiciogps >
  <h2> {{titulo}} </h2>
  <h2> Ingrese el Imei </h2>
  <br>
  <mat-form-field>
    <input matInput placeholder="Numero de Imei" name="imei" [(ngModel)]="buscarimei" required/>
  </mat-form-field>
  <button (click)="buscarximei()"><mat-icon>search</mat-icon></button>
  <br>
  <h4>GPS</h4>
  <span>Imei: {{gps.imei_gps}}</span><br>
  <span>Modelo: {{gps.modelo.nombre}}</span>
  <h4>Acciones</h4>
  <div *ngFor="let ac of listaacciones">
    <span>{{ac.nombre}}</span>
  </div>

  <br>
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-button mat-dialog-close   (click)="editarGps()">Guardar Cambios</button>

</ng-template>

<ng-template #dialogEditServiciovehiculo>
  <h2> {{titulo}} </h2>
  <mat-radio-group
    aria-labelledby="example-radio-group-label"
    class="example-radio-group"
    [(ngModel)]="vehiculo.id_vehiculo">
    <mat-radio-button class="example-radio-button" *ngFor="let v of listvehiuclosCliSinSer" [value]="v.id_vehiculo">
      Placa: {{v.placa}}<br>
      Vehiculos: {{v.vehiculo}}
    </mat-radio-button>
  </mat-radio-group>
  <button mat-button mat-dialog-close>Cancelar</button>
  <span><button mat-button mat-dialog-close (click)="editarVehiculo(vehiculo.id_vehiculo)" >Selecionar</button></span>

</ng-template>

