<div class="center">
  <mat-card-title>Lista de Servicios</mat-card-title>
  <br>
  <mat-card-subtitle>Servicios de APECS</mat-card-subtitle>
</div>

<div class="center">
  <mat-card-title>Cliente</mat-card-title>
  <br>
  <mat-card-subtitle>{{cliente.nombre}}</mat-card-subtitle>
</div>

<mat-form-field class="center1">
  <mat-label>Search</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Search" #input>
</mat-form-field>

<div class="mat-elevation-z8 center">
  <table mat-table [dataSource]="dataSource" matSort>

    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th class="titulo" mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
      <td mat-cell class="centrarli" *matCellDef="let row"> {{row.id_documentoservicio}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="fechas">
      <th class="titulo" mat-header-cell *matHeaderCellDef mat-sort-header> F. Instalación </th>
      <td mat-cell class="centrarli" *matCellDef="let row"> {{row.fecha_ds | date:'dd/MM/yyyy'}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="hora">
      <th class="titulo" mat-header-cell *matHeaderCellDef mat-sort-header> Hora </th>
      <td mat-cell class="centrarli" *matCellDef="let row"> {{row.hora}} </td>
    </ng-container>

    <!-- Fruit Column -->
    <ng-container matColumnDef="fechaI">
      <th class="titulo" mat-header-cell *matHeaderCellDef mat-sort-header> F. Inicio </th>
      <td mat-cell class="centrarli" *matCellDef="let row"> {{row.fecha_inicion | date:'dd/MM/yyyy'}} </td>
    </ng-container>

    <ng-container matColumnDef="fechaF">
      <th class="titulo" mat-header-cell *matHeaderCellDef mat-sort-header> F. Fin </th>
      <td mat-cell class="centrarli" *matCellDef="let row"> {{row.fecha_fin | date: 'dd/MM/yyyy'}} </td>
    </ng-container>

    <ng-container matColumnDef="detalles">
      <th class="titulo" mat-header-cell *matHeaderCellDef> Detalles </th>
      <td mat-cell class="centrarli" *matCellDef="let row"><button mat-button (click)="openTempDialog(row.id_documentoservicio)"><mat-icon class="btnEdi">description</mat-icon></button></td>
    </ng-container>

    <ng-container matColumnDef="editar">
      <th class="titulo" mat-header-cell *matHeaderCellDef> Editar </th>
      <td mat-cell class="centrarli" *matCellDef="let row"><button [routerLink]="['/verservicio/cliente/edit=',row.id_documentoservicio]"><mat-icon class="btnEdi">edit</mat-icon></button></td>
    </ng-container>

    <ng-container matColumnDef="eliminar">
      <th class="titulo" mat-header-cell *matHeaderCellDef> Eliminar </th>
      <td mat-cell class="centrarli" *matCellDef="let row"> <button ><mat-icon class="btnEli">delete</mat-icon></button></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
</div>

<ng-template #dialogRef >
  <h2>********|| Información del Servicio ||********</h2>
  <table>
    <thead>
        <th>Placa</th>
        <th>Vehiculo</th>
        <th>GPS (imei)</th>
        <th>Modelo</th>
    </thead>
    <tbody *ngFor="let item of infodetalle">
        <td>{{item.vehiculo.placa}}</td>
        <td>{{item.vehiculo.vehiculo}}</td>
        <td>{{item.gps.imei_gps}}</td>
        <td>{{item.gps.modelo.nombre}}</td>
    </tbody>
  </table>
  <br>
  <button mat-button mat-dialog-close="I am from dialog land...">Close</button>
</ng-template>

