<section id="nuestros-servicios">
  <div class="container">
    <h1>Seleccione el Plan a contratar</h1>
    <div class="grid-container" >
      <div class="grid-item" *ngFor="let plan of listaPlanes">
        <img   class="img"   src="{{plan.imagen}}" alt="">
        <br>
        <ul><li>{{plan.nombre_p}}</li>
          <li>{{plan.costo_p}}</li></ul>

        <button class="btn btn-primary" [routerLink]="['/nuevoservicio',plan.id_plan]">CONTRATAR SERVICIO</button>
      </div>


    </div>
  </div>
</section>



