<div class="center">
  <mat-card-title>GENERAR DOCUMENTO</mat-card-title>
  <br>
  <mat-card-subtitle>Documento de instalación de GPS de APECS</mat-card-subtitle>
</div>
<div class="center">
  <div class="example-card">
    <mat-horizontal-stepper [linear]="isLinear" #stepper>
      <mat-step >
          <mat-card class="example-card ">
            <mat-card-title class="mediat">Datos Cliente</mat-card-title>
            <ng-template matStepLabel ><div class="mediast">Datos Cliente</div></ng-template>
            <form class="todostepper" [formGroup]="firstFormGroup">
              <div *ngIf="buscarclienteB">
                <h4>Ingrese la cecula del cliente</h4>
                <mat-form-field>
                  <input matInput formControlName="cedcli" placeholder="Cedula Cliente" [(ngModel)]="buscarcliente" Enabl/>
                </mat-form-field>
                <button mat-raised-button color="primary" (click)="buscarCliente()" >
                  <mat-icon class="sep">search</mat-icon>
                  <span class="medath">Buscar</span>
                </button>
              </div>
            </form>
            <div *ngIf="infocli">
                <span>Cedula: {{cliente.cedula}}</span>
                <br>
                <span>Nombres: {{cliente.cedula}}</span>
                <br>
                <span>Telefono: {{cliente.telefono}}</span>
                <br>
                <button class="btn btn-success" (click)="cambioCliente()">Cambiar Cliente</button>
            </div>
          </mat-card>
          <br>
          <div>
            <button mat-raised-button color="primary"  matStepperNext *ngIf="infocli">Siguiente</button>
          </div>

      </mat-step>
      <mat-step [stepControl]="firstFormGroup">
        <form class="todostepper">
          <ng-template matStepLabel><div class="mediast">Datos Vehiculo</div></ng-template>
          <mat-card-title class="mediat">Datos Vehiculo</mat-card-title>
          <table class="center">
            <thead>
            <th>Placa</th>
            <th>Vehiculo</th>
            <th>Seleccionar</th>
            </thead>
            <tbody *ngFor="let vehiculo of listavehiculos">
            <td>{{vehiculo.placa}}</td>
            <td>{{vehiculo.vehiculo}}</td>
            <td><button class="btn btn-primary">Seleccionar</button></td>
            </tbody>
          </table>
          <br>
          <mat-card class="example-card" *ngIf="infovehiculo">
            <mat-form-field >
              <input matInput placeholder="Placa"  name="placa"  [(ngModel)]="vehiculo.placa"  required/>
            </mat-form-field>
            <br>
            <mat-form-field>
              <input matInput placeholder="clave"  name="clave" [(ngModel)]="vehiculo.clave" required/>
            </mat-form-field>
            <br>
            <mat-form-field>
              <input matInput  placeholder="Año"  name="anio" [(ngModel)]="vehiculo.anio" required/>
            </mat-form-field>
            <br>
            <mat-form-field>
              <input matInput placeholder="Kilometro" name="kilometraje" [(ngModel)]="vehiculo.kilometraje" required/>
            </mat-form-field>
            <br>
            <mat-form-field>
              <input matInput placeholder="Vehiculo" name="vehiculo" [(ngModel)]="vehiculo.vehiculo" required/>
            </mat-form-field>
            <br>
          </mat-card>
          <br>
          <div>
            <button mat-raised-button matStepperPrevious color="warn">Atras</button>
            <button mat-raised-button matStepperNext color="accent" (click)="GuardarVehiculo()">Siguente</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="firstFormGroup">
        <form class="todostepper">
          <ng-template matStepLabel><div class="mediast">Datos GPS</div></ng-template>
          <mat-card-title class="mediat">Datos GPS</mat-card-title>
          <br><br>

          <h4>Ingrese el IMEI del GPS</h4>
          <mat-form-field>
            <input matInput  placeholder="Ex: 10002"  name="imei" [(ngModel)]="buscarimei" required/>
          </mat-form-field>
          <input type="submit" value="Search" (click)="buscarximei()">
          <br>

          <mat-form-field>
            <input matInput  placeholder="Ex: 10002"  name="modelo" [(ngModel)]="modeloGet.nombre" disabled/>
          </mat-form-field>

          <table class="center">
            <thead>
            <th>Acciones</th>
            </thead>
            <tbody *ngFor="let ac of listaAcciones">
            <td>{{ac.nombre}}</td>
            </tbody>
          </table>

          <div>
            <button mat-button matStepperPrevious color="warn">Atras</button>
            <button mat-button matStepperNext color="accent" >Siguente</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="firstFormGroup">
        <div class="example-card ">
          <mat-card-title class="mediat">Fechas</mat-card-title>
          <ng-template matStepLabel><div class="mediast">Fechas</div></ng-template>
          <mat-card-header>
            <mat-card-title>Fechas de Contrato</mat-card-title>
          </mat-card-header>
          <form>
            <mat-card-content>
              <p>Horarios:</p>
              <mat-form-field appearance="outline" style="width: 40%">
                <mat-label>Fecha inicio contrato</mat-label>
                <input matInput [matDatepicker]="picker" name="fechaI" [(ngModel)]="servicio.fecha_inicion" required/>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
              <br>
              <br>
              <mat-form-field>
                <input matInput placeholder="Cantidad" name="cantidad" [(ngModel)]="servicio.ubicacion_gps" required/>
              </mat-form-field>
              <br>
              <mat-form-field appearance="outline" style="width: 40%">
                <mat-label>Fecha fin contrato</mat-label>
                <input matInput [matDatepicker]="picker1" name="fechaF" [(ngModel)]="servicio.fecha_fin" required/>
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
              </mat-form-field>
              <br>
              <mat-form-field appearance="outline" style="width: 20%">
                <mat-label>Hora </mat-label>
                <input type="time" matInput name="hora" [(ngModel)]="servicio.hora" required/>
              </mat-form-field>
              <br>
              <mat-form-field>
                <input matInput placeholder="Observaciones" name="observacion" [(ngModel)]="servicio.observaciones" required/>
              </mat-form-field>
              <br>
              <mat-form-field>
                <input matInput placeholder="Ubicacion" name="ubicacion" [(ngModel)]="servicio.ubicacion_gps" required/>
              </mat-form-field>
            </mat-card-content>
          </form>
        </div>
        <div>
          <button mat-button matStepperPrevious>Atras</button>
          <button mat-button matStepperNext (click)="mostardatos()">Siguiente</button>
        </div>
      </mat-step>
      <mat-step >
        <div class="example-card ">
          <mat-card-title class="mediat">Confirmación</mat-card-title>
          <ng-template matStepLabel><div class="mediast">Confirmación</div></ng-template>
          <mat-card-content>
            <strong>Información general del servicio:</strong>
            <div class="cabecera">
              <div class="izquierda">
                <h4>CLIENTE:</h4>
                <p>Cedula: {{cliente.cedula}}</p>
                <p>Nombre: {{cliente.nombre}}</p>
                <p>Nombre: {{cliente.direccion}}</p>
                <p>Telefono: {{cliente.telefono}}</p>
                <h4>VEHICULO:</h4>
                <p>Nombre: {{vehiculo.vehiculo}}</p>
                <p>Año: {{vehiculo.anio}}</p>
                <p>Kilometraje: {{vehiculo.kilometraje}}</p>
                <p>Atendido por: Angel Villa</p>
              </div>
              <div class="derecha">
                <h4>GPS:</h4>
                <p>IMEI: {{gpsGet.imei_gps}}</p>
                <p>Numero: {{gpsGet.num_gps}}</p>
                <p>SIM: {{gpsGet.num_sim}}</p>
                <p>Modelo: {{modeloGet.nombre}}</p>
                <p>FECHAS DE CONTRATO:</p>
                <p>Fecha Entrega: {{servicio.fecha_ds | date:'fullDate'}}</p>
                <p>Fecha Inicio: {{servicio.fecha_inicion | date:'fullDate'}}</p>
                <p>Fecha Fin: {{servicio.fecha_fin | date:'fullDate'}}</p>
                <p>Hora: {{servicio.hora}}</p>
              </div>
              <div></div>
              <h4>SERVICIOS</h4>
              <p *ngFor="let ac of listaAcciones ">{{ac.nombre}}</p>
              <p>Observaciones:</p>
              <p>{{servicio.observaciones}}</p>
              <br>
              <h4>Ubicación GPS:</h4>
              <p>{{servicio.ubicacion_gps}}</p>
            </div>
          </mat-card-content>
        </div>
        <mat-card-actions>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="guardaServicio()" >Guardar Servicio</button>
          <button mat-button (click)="createPdf()" >Imprimir</button>
        </mat-card-actions>

      </mat-step>
    </mat-horizontal-stepper>
  </div>
</div>

