.center{
  width: 80%;
  text-align: center;
  margin: 1% auto;
}

.titulo{
  text-align: center;
  font-weight: bold;
  font-size: 100%;
}

mat-form-field {
  width: 60%;
}

.mediat{
  display: none;
}
@media (max-width: 800px) {
  .mediat{
    display: block;
  }
  .mediast{
    display: none;
  }
  .center{
    width: 100%;
    text-align: center;
    margin: 1% auto;
  }

  mat-form-field {
    width: 80%;
  }
}
