.center{
  width: 80%;
  text-align: center;
  margin: 1% auto;
}
.example-viewport {
  height: 200px;
  width: auto;
}

.cabecera{
  min-height:250px;
}
.izquierda{
  text-align: start;
  height:50%;
  float:left;
  width:50%;
}
.derecha{
  height:50%;
  float:right;
  width:50%;
  text-align: start;
}

.titulo{
  text-align: center;
  font-weight: bold;
  font-size: 100%;
}

mat-form-field {
  width: 60%;
}
.example-viewport {
  height: 200px;
  width: auto;
}

.mediat{
  display: none;
}
@media (max-width: 800px) {
  .mediat{
    display: block;
  }
  .mediast{
    display: none;
  }
  .center{
    width: 100%;
    text-align: center;
    margin: 1% auto;
  }

  mat-form-field {
    width: 80%;
  }
}
