header{
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  height: 10rem;

}
mat-toolbar{
  background-color: white;
  height: 6rem;
}


.btninicio{
  background-color: transparent;
  border: transparent;
}
.btniniciarSesion{
  background-color: #2ecc71;
}

.btniniciarSesion:hover{
  color: #2ecc60;
}
.btniniciarS{
  background-color: transparent;
  border: transparent;
  font-weight: bold;
  color: #428bca;
  font-size: 15px;
}

.hover:hover{
  color: black;
  cursor: pointer;
  transition: .5s;
}


.logo{
  padding: 2% 0;
  line-height: 8%;
}

.logo img{
  width: 200px;
  float: left;
}


body{
  padding-top: 4rem;
  padding-bottom: 4rem;
  height: auto;
}

.tool{
  color: white;
}
html{
  /*background-image: url("src/assets/images/fondo.jpg");*/
  background-size: cover;
}

footer{
  position: fixed;
  height: 4rem;
  left: 0;
  right: 0;
  bottom: 0;
}
.example-spacer {
  flex: 1 1 auto;
}
.example-button-container {
  flex: 1 1 auto;
}
.botton-header{
  margin-right: 10px;
}
.pie-pagina{
  width: 100%;
  background-color: rgb(30,30,30);
}

.pie-pagina .grupo-2{
  background-color: #0e375d;
  padding: 20px 10px;
  text-align: center;
  color: #fff;
}
.pie-pagina .grupo-2 small{
  font-size: 15px;
}
.tmmeda{
  font-size: 16px;
}

@media (max-width: 800px) {
  .medath{
    font-size: 14px;
  }
}

@media (max-width: 700px) {
  .medath{
    display: none;
  }
  mat-toolbar{
    height: 8.5rem;
  }
  .logo img{
    margin-top: -50px;
    width: 200px;
    margin-left: 5%;
  }
  .sep{
    margin-left: 30px;
  }
  .mediaUbt {
    margin-top: 90px;
    margin-right: 250px;
  }
  body{
    padding-top: 8rem;
  }
}


@media (max-width: 600px) {
  .medath{
    display: none;
  }
  mat-toolbar{
    height: 8.5rem;
  }

  .logo img{
    margin-top: -50px;
    width: 200px;
    margin-left: 5%;
  }

  .sep{
    margin-left: 20px;
  }

  .mediaUbt {
    margin-top: 95px;
    margin-left: -90px;
  }

  body{
    padding-top: 9rem;
  }

}

@media (max-width: 400px) {
  .mediaUbt {
    margin-top: 95px;
    margin-left: -140px;
  }
  .sep{
    margin-left: 10px;
  }
  body{
    padding-top: 10rem;
  }
}

