.center{
  width: 80%;
  text-align: center;
  margin: 1% auto;
}

mat-form-field {
  width: 60%;
}
/*colores de bordes y letras*/
.example-card {
  border-width: 1px;
  border-style: solid;
  border-color:#0e375d;
}
.mediat{
  background: #B847E6;
  color: white;
}
