<br>
<div class="center">
<form>
  <mat-card class="example-card ">
    <mat-card-title class="mediat">Datos Cliente</mat-card-title>
    <ng-template matStepLabel >Datos Cliente</ng-template>
    <mat-form-field appearance="outline">
      <mat-label>Cedula</mat-label>
      <input matInput  name="cedula" [(ngModel)]="cliente.cedula" required/>
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline">
      <mat-label>Nombre</mat-label>
      <input matInput name="nombre" [(ngModel)]="cliente.nombre"  required/>
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline">
      <mat-label>Dirección</mat-label>
      <input matInput  name="direccion" [(ngModel)]="cliente.direccion" required/>
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline">
      <mat-label>Telefono</mat-label>
      <input matInput  name="telefono" [(ngModel)]="cliente.telefono" required/>
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline">
      <mat-label>Correo</mat-label>
      <input matInput  name="correo" [(ngModel)]="cliente.correo" required/>
    </mat-form-field>
    <br>

    <mat-form-field appearance="outline">
      <mat-label>Contacto</mat-label>
      <input matInput name="contacto" [(ngModel)]="cliente.contacto" required/>
    </mat-form-field>
    <br>

    <mat-form-field appearance="outline">
      <mat-label>Ciudad</mat-label>
      <input matInput name="ciudad" [(ngModel)]="cliente.ciudad" required/>
    </mat-form-field>
    <br>
    <mat-card-actions style="text-align: center">
      <button  mat-raised-button color="primary"  class="btniniciarSesion" (click)="Guardar()" >GUARDAR</button>
    </mat-card-actions>
    <br>
  </mat-card>

</form>
</div>
